@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "/node_modules/swiper/swiper.scss";
@import "/node_modules/swiper/modules/pagination/pagination.scss";

@import "normalize";
@import "helpers";

.landing-page {
  --crimson: #93328e;
  --gray: #263b5e;
  --yellow: #faba53;
  --light: #f2f5fc;
  line-height: 1.2;
  font-family: "Roboto", serif;
}
.landing-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 20px;
}
.landing-button {
  background-color: var(--yellow);
  color: #000;
  padding: 24px 35px;
  width: 100%;
  max-width: 363px;
  border-radius: 6px;
  font-weight: 700;
  @include clamp("font-size", 20, 24);
  text-align: center;
  display: block;
  transition: opacity 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
  @media (max-width: 768px) {
    padding: 16px 35px;
  }
}

.landing-header {
  padding: 5px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 1200px) {
      flex-direction: column;
      row-gap: 30px;
    }
    @media (max-width: 640px) {
      row-gap: 20px;
    }
  }
  &__logo {
    width: 146px;
    height: 127px;
    @media (max-width: 768px) {
      width: 120px;
      height: 100px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    column-gap: 32px;
    @media (max-width: 992px) {
      flex-direction: column;
      row-gap: 4px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: var(--crimson);
    @include clamp("font-size", 16, 22);
    svg {
      width: 35px;
      height: 35px;
      color: inherit;
      @media (max-width: 992px) {
        width: 25px;
        height: 25px;
      }
    }
    span {
      font-weight: 500;
      color: var(--crimson);
    }
    &_phone {
      font-weight: 700;
      @include clamp("font-size", 18, 24);
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
    &_location {
    }
    &_mail {
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.landing-hero {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  @media (max-width: 992px) {
    background-color: var(--light);
    background-image: none !important;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__content {
    @include clamp("padding-top", 40, 160);
    @include clamp("padding-bottom", 40, 107);
    flex: 0 1 605px;
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    h1 {
      font-weight: bold;
      color: var(--crimson);
      @include clamp("font-size", 40, 70);
      font-family: "Poppins", serif;
      line-height: 1.1;
      margin-bottom: 16px;
      span {
        color: var(--gray);
      }
    }
    h2 {
      font-weight: bold;
      color: var(--gray);
      @include clamp("font-size", 30, 50);
      line-height: 1.1;
      margin-bottom: 32px;
      span {
        color: var(--crimson);
      }
    }
    p {
      color: var(--gray);
      @include clamp("font-size", 22, 28);
      font-weight: 500;
      &:not(:last-child) {
        @include clamp("margin-bottom", 20, 32);
      }
    }
  }
  &__form {
    flex: 0 1 506px;
    @include clamp("padding-top", 0, 77);
    background-color: #fff;
    padding: 32px 54px;
    @media (max-width: 992px) {
      flex: 0 1 100%;
    }
    @media (max-width: 640px) {
      padding: 30px 20px;
    }
  }
  &__form-title {
    font-family: "Poppins", serif;
    font-weight: 700;
    @include clamp("font-size", 22, 30);
    text-align: center;
    color: var(--gray);
  }
  &__form-body {
  }
}

.landing-stat {
  @include clamp("padding-top", 40, 50);
  @include clamp("padding-bottom", 50, 60);
  &__container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include clamp("column-gap", 10, 92);
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 25px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__item-image {
    margin-bottom: 16px;
  }
  &__item-desc {
    font-family: "Poppins", serif;
    font-weight: 700;
    color: var(--gray);
    @include clamp("font-size", 40, 64);
  }
  &__item-term {
    font-weight: 300;
    color: var(--crimson);
    @include clamp("font-size", 22, 28);
  }
}

.landing-cta {
  @include clamp("padding-top", 40, 100);
  @include clamp("padding-bottom", 50, 125);
  &__container {
    display: flex;
    align-items: flex-start;
    column-gap: 63px;
    @media (max-width: 992px) {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
  }
  &__image {
    flex: 0 1 49%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex: 0 1 51%;
    h2 {
      font-family: "Poppins", serif;
      font-weight: 700;
      color: var(--gray);
      margin-bottom: 22px;
      @include clamp("font-size", 30, 48);
    }
    h3 {
      font-weight: 500;
      color: var(--crimson);
      @include clamp("margin-bottom", 26, 45);
      @include clamp("font-size", 22, 32);
    }
    p {
      @include clamp("font-size", 22, 32);
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

.landing-services {
  @include clamp("padding-top", 50, 110);
  @include clamp("padding-bottom", 30, 60);
  background-color: var(--light);
  &__container {
  }
  &__header {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    @include clamp("margin-bottom", 40, 82);
    h2 {
      font-family: "Poppins", serif;
      font-weight: 600;
      color: var(--gray);
      @include clamp("font-size", 36, 48);
      margin-bottom: 26px;
    }
    p {
      @include clamp("font-size", 18, 24);
      line-height: 1.6;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 70px 38px;
    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__item-title {
    font-weight: 700;
    @include clamp("font-size", 20, 24);
    text-align: center;
    margin-top: 24px;
    flex-grow: 1;
    height: 100%;
    @media (max-width: 640px) {
      margin-top: 16px;
    }
  }
  &__link {
    @include clamp("margin-top", 50, 60);
    margin-left: auto;
    margin-right: auto;
  }
}

.landing-expertise {
  @include clamp("padding-top", 40, 60);
  @include clamp("padding-bottom", 45, 55);
  &__container {
    display: flex;
    column-gap: 35px;
    align-items: center;
    @media (max-width: 1200px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  &__title {
    font-family: "Poppins", serif;
    font-weight: 600;
    color: var(--gray);
    @include clamp("font-size", 32, 48);
    flex: 0 0 364px;
    @media (max-width: 1200px) {
      flex: 0 1 auto;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  &__item {
    &:nth-child(1) {
      @include clamp("padding-right", 20, 100);
    }
    &:nth-child(2) {
      border-right: 1px solid #d0d0d0;
      border-left: 1px solid #d0d0d0;
      @include clamp("padding-right", 20, 100);
      @include clamp("padding-left", 20, 100);
    }
    &:nth-child(3) {
      @include clamp("padding-left", 20, 100);
    }
  }
}
.landing-container {
}

.landing-rows {
  @include clamp("padding-top", 40, 90);
  @include clamp("padding-bottom", 50, 110);
  &__container {
  }
  &__title {
    font-family: "Poppins", serif;
    font-weight: 600;
    color: var(--gray);
    @include clamp("font-size", 32, 48);
    @include clamp("margin-bottom", 50, 100);
    text-align: center;
  }
  &__list {
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    background-position: top left;
    @media (max-width: 1430px) {
      background-image: none !important;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    @include clamp("column-gap", 0, 80);
    max-width: 1150px;
    margin-left: auto;
    margin-right: 94px;
    &:nth-child(even) {
      flex-direction: row-reverse;
      .landing-rows__item-content {
        max-width: 480px;
        margin-left: auto;
        @media (max-width: 768px) {
          max-width: 100%;
          margin-left: unset;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 30px;
        align-items: stretch;
      }
    }
    &:not(:last-child) {
      margin-bottom: 45px;
    }
    @media (max-width: 1200px) {
      margin-right: 0;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      row-gap: 30px;
      align-items: stretch;
    }
  }
  &__item-content {
    flex: 0 1 548px;
    @media (max-width: 768px) {
      flex: 0 1 100%;
    }
    h3 {
      color: var(--gray);
      font-weight: 700;
      @include clamp("font-size", 22, 28);
      margin-bottom: 16px;
    }
    p {
      color: #677294;
      @include clamp("font-size", 16, 18);
      line-height: 1.5;
    }
  }
  &__item-image {
    flex: 0 1 531px;
    @media (max-width: 1200px) {
      width: 50%;
      flex: 0 1 50%;
    }
    @media (max-width: 640px) {
      width: 100%;
      flex: 0 1 100%;
    }
  }
}

.landing-rewiews {
  background-color: #090a21;
  @include clamp("padding-top", 40, 60);
  @include clamp("padding-bottom", 50, 90);
  &__container {
    padding: 0;
  }
  &__title {
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 600;
    @include clamp("font-size", 32, 48);
    @include clamp("margin-bottom", 45, 66);
    text-align: center;
  }
  &__slider {
    width: 100%;
    min-height: 417px;
    height: 100%;
  }
  &__slider-wrapper {
    width: 100%;
    height: 100%;
  }
  &__slide {
    min-height: 417px;
    height: 100%;
    border-radius: 6px;
    padding: 50px 16px 30px 16px;
    background-color: #0f1029;
    height: 100%;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    &.swiper-slide-active {
      border: 1px solid #3d57f4;
    }
    &:hover {
      border: 1px solid #3d57f4;
      .landing-rewiews__slide-text {
        overflow: visible;
        display: unset;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
      }
    }
  }
  &__slide-header {
    display: flex;
    column-gap: 22px;
    margin-bottom: 22px;
  }
  &__slide-avatar {
    flex-shrink: 0;
  }
  &__slide-info {
  }
  &__slide-rating {
    margin-bottom: 6px;
  }
  &__slide-name {
    color: #fff;
    font-weight: 600;
  }
  &__slide-text {
    font-size: 16px;
    color: #bdbed6;
    line-height: 1.7;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  &__slide-date {
    color: #58596e;
    font-size: 18px;
    margin-top: 24px;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    @include clamp("margin-top", 30, 60);
    .swiper-pagination-bullet {
      background-color: #3d3e65;
      width: 13px;
      height: 13px;
      border: 1px solid transparent;
      opacity: 1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #090a21;
      border: 1px solid #3d57f4;
    }
  }
}
.landing-container {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.pagination {
}

.landing-bottom {
  background-color: var(--crimson);
  &__container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    background-repeat: no-repeat;
    @media (max-width: 1100px) {
      background-image: unset !important;
    }
  }
  &__content {
    flex: 0 1 60%;
    @include clamp("padding-top", 30, 45);
    @include clamp("padding-bottom", 45, 74);
    @media (max-width: 1100px) {
      flex: 0 1 100%;
    }
  }
  &__content-info {
    h2 {
      line-height: 1.4;
      font-family: "Poppins", serif;
      font-weight: 700;
      @include clamp("font-size", 32, 50);
      color: #fff;
      margin-bottom: 16px;
      span {
        color: var(--yellow);
      }
    }
    p {
      color: #fff;
      font-weight: 500;
      @include clamp("font-size", 22, 28);
    }
  }
  &__content-contacts {
    margin: 32px 0;
  }
  &__content-contact {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #fff;
    @include clamp("font-size", 18, 22);
    font-weight: 500;
    svg {
      width: 35px;
      height: 35px;
      color: #fff;
      @media (max-width: 640px) {
        width: 30px;
        height: 30px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.landing-footer {
  background-color: #001121;
  padding: 30px 0;
  &__container {
    display: flex;
    align-items: center;
    gap: 20px 50px;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      flex-direction: column;
      row-gap: 30px;
    }
  }
  &__logo {
    width: 203px;
    height: 177px;
    @media (max-width: 768px) {
      width: 180px;
      height: 140px;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    column-gap: 32px;
    a:hover {
      color: var(--yellow);
    }
    @media (max-width: 992px) {
      flex-direction: column;
      row-gap: 10px;
    }
  }
  &__contact {
    transition: color 0.3s ease;
    display: flex;
    color: #fff;
    align-items: center;
    column-gap: 12px;
    font-weight: 500;
    @include clamp("font-size", 16, 18);
    svg {
      color: var(--yellow);
      width: 35px;
      height: 35px;
      @media (max-width: 640px) {
        width: 25px;
        height: 25px;
      }
    }
  }
  &__socials {
    display: flex;
    column-gap: 16px;
    a {
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
    img {
      width: 60px;
      height: 60px;
      @media (max-width: 768px) {
        width: 45px;
        height: 45px;
      }
    }
  }
}

// font-family: "Poppins", serif;
